[submodule "chickadee-libs"]
	path = chickadee-libs
	url = git@github.com:chickadee-tech/kicad-libs.git
[submodule "kicad-libraries"]
	path = kicad-libraries
	url = git@github.com:adafruit/kicad-libraries.git
